/test
/obj
/lib
/test
/doc/users_guide.aux
/doc/users_guide.toc
/doc/users_guide.log
/doc/users_guide.out
/src/ROOT/Drawer
/inc/ROOT/Drawer
/src/ROOT/CaenTreeCreator/CaenTreeCreator_*
/example/ROOT/create_tree/CreateTree_*
/example/ROOT/draw/Draw_*
/example/stand-alone/analyze_event/analyze_event
/example/stand-alone/read_event/read_event
*.sw*
*.sw*
